.logo{
    width: 30px;
}

.background {
    position: relative;
    z-index: 0;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
}

#backgroundImg {
    background-image: url(./assets/back.jpg);
}