.background {
    position: relative;
    z-index: 0;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
}

#backgroundImg {
    background-image: url(./assets/back.jpg);
}

.logo {
    width: 150px;
    margin: 2px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.rightSide {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    padding-right: 300px;
    color: white;
    font-size: large;
}


.rightSide>div {
    margin: 15px;
}